In [1]:
v="otro texto"
n=10
print("Un texto",v,"y un numero",n)

Un texto otro texto y un numero 10

In [2]:
#utilizamos la funcion .format() para darle estructura ala cadena de texto
c="Un texto {} y un numero {}".format(v,n)

In [3]:
c

'Un texto otro texto y un numero 10'

In [4]:
#podemos cambiar el orden en que se muestre los datos
print("Un texto '{1}' y un numero '{0}'".format(v,n))
#como puedes observar que a cambia de lugar los datos

Un texto '10' y un numero 'otro texto'

In [7]:
print("Un texto '{t}' y numero '{v}'".format(t=v,v=n))#le asignamos a la variables los siguientes valores

Un texto 'otro texto' y numero '10'

In [8]:
print("{v},{v},{v}".format(v=v))#podemos repetir el texto las veces que queramos

otro texto,otro texto,otro texto

In [9]:
#nos perimite modificar el contenido del texto asi como su posicion
print("{:>30}".format("palabra"))#alineacion a la derecha en 30 caracteres

                       palabra

In [10]:
print("{:30}".format("palabra"))

palabra

In [11]:
print("{:^30}".format("texto"))#alineacion de texto al centro en 30 carcateres 15==texto==15

            texto

In [16]:
print("{nombre:>30} apellido :{apellido:>25}".format(nombre="jesus",apellido="Miranda"))

                         jesus apellido :                  Miranda

In [17]:
print("{:.5}".format("Naruto vs Sasuke"))

Narut

In [18]:
print("{:>20.5}".format("Naruto vs Sasuke"))#podemos trucar la cadena en 30 carcateres a la derecha 
#con solo 5 carcateres de la cadena

               Narut

In [21]:
#tambien podemos mapaear los numeros 
#formato de numeros enteros, rellenados con espacio
print("{}".format(10))
print("{}".format(100))
print("{}".format(1000))

10
100
1000

In [22]:
#formato de numeros enteros, rellenados con espacio
print("{:4d}".format(10))
print("{:4d}".format(100))
print("{:4d}".format(1000))

  10
 100
1000

In [23]:
#formato de numeros enteros, rellenados con 0
print("{:04d}".format(10))
print("{:04d}".format(100))
print("{:04d}".format(1000))

0010
0100
1000

In [24]:
#formateo de numeros flotantes, rellenados con espacios
print("{:.3f}".format(3.1416926))#solo mostramos tres decimales

3.142

In [25]:
print("{:.3f}".format(3.1416926))#solo mostramos tres decimales
print("{:.3f}".format(453.14))#solo mostramos tres decimales

3.142
453.140

In [26]:
#aqui alineamos los decimales a una estructura mas bonita
print("{:7.3f}".format(3.1416926))#solo mostramos tres decimales 7=es la longitud de la cadena
print("{:7.3f}".format(453.14))#solo mostramos tres decimales

  3.142
453.140

In [27]:
#aqui alineamos los decimales a una estructura mas bonita
print("{:07.3f}".format(3.1416926))#solo mostramos tres decimales 7=es la longitud de la cadena
print("{:07.3f}".format(453.14))#solo mostramos tres decimales

003.142
453.140